<div ng-controller="ListViewCtrl">

    <div class="row row-cols-1 row-cols-md-4">
        <div ng-repeat="item in list">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <p class="card-text">{{item.description}}</p>
                    <button type="button" href="#" class="btn btn-primary" ng-click="onClick(item.id)">Details</button>
                </div>
            </div>
        </div>
    </div>

</div>